.card{
    width: 23.8%;
    /*height: 300px;*/
    margin: 0.5%;
    /*background: grey;*/
    float: left;
    border: red 1px solid;
}
.card:hover{
    border-color: black;

}
.card img{
    width: 100%;

}
.card p{
    text-align: center;

}
.bot{
    clear: both;
}
@media only screen and (max-width: 1000px) {
    .card{
        width: 30.5%;
    }
}
@media only screen and (max-width: 700px) {
    .card{
        width: 40%;
    }
}
@media only screen and (max-width: 500px) {
    .card{
        width: 90%;
    }
}