body{
    font-family: Arial;
}
.top{

    height: 50px;
    padding:0;
    margin:0;
    background-color: #000000;
    border: 1px solid #CDCDCD;
}
.logo{
    width: 50px;
    height: 50px;
    color: white;
    display: inline;
    float: left;
    padding-left: 30px;
.manu{
    float: left;
}
}
.manu ul, .manu li{
    padding:0;
    margin:0;
}

.manu li{
    position: relative;
    float: left;
    list-style: none;
    margin: 0;
    padding:0;
}

.manu li a{
    width:100px;
    height: 50px;
    display: block;
    text-decoration:none;
    text-align: center;
    line-height: 50px;
    background-color: black;
    color: white;
}
 
.manu ul ul li a{
    width: 200px;
    text-align: left;
    padding-left: 10px;
}
.manu li a:hover{
    background-color: red;
}
.login{
    width: 50px;
    height: 50px;
    float: right;
    padding-right: 30px;

}
.login a{
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: white;
    line-height: 50px;
    text-decoration: none;

}
.main{
    width: 100%;
}
.main1{
    width: 20%;
    height: 300px;
    float: left;
    color: blue;
    background: blueviolet;
    text-align: center;
}
.main2{
    width: 60%;
    height: 300px;
    float: left;
    background: burlywood;
}
.main3{
    width: 20%;
    height: 300px;
    float: left;
    background: chartreuse;
    text-align: center;
}
.footer{
    width: 100%;
    height: 50px;
    clear: both;
    text-align: center;
    background: cornflowerblue;
    color: white;
    padding-top: 20px;
}
.footer h3{
    padding: 0px;
    margin: 0px;
}